exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "build",
    "dist",
    "mlruns",
    "tb_logs",
    "**/__pycache__",
    "venv",
]


line-length = 88
indent-width = 4

target-version = "py312"

[lint]
select = [
    "E4", "E7", "E9",  # pycodestyle errors
    "F",               # pyflakes
    "I",               # isort
    "UP",              # pyupgrade
    "B",               # bugbear
    "C4",              # comprehensions
    "RUF",             # ruff-specific
    "ARG",             # flake8-unused-arguments
    "PD",              # pandas-vet
    "PGH",             # pygrep-hooks
    "PL",              # pylint
    "PT",              # py-protocols
    "B",               # flake8-quotes
    "C",             # flake8-return
    "E",             # flake8-raise
    "F",             # flake8-self
    "W",             # flake8-tidy-imports
    "B9",             # flake8-print
    "D"
]

ignore = [
    "E501",  # line too long (используем line-length)
    "B008",  # do not perform function calls in argument defaults
    "PLR0913", # too many arguments (ML функции часто длинные)
]


fixable = ["ALL"]

dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
docstring-code-format = false
docstring-code-line-length = "dynamic"

[lint.per-file-ignores]
"__init__.py" = ["F401"]
"setup.py" = ["B008"]
"**/module.py" = ["ARG002"]
